@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}



<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-lg rounded-4">
                <div class="card-header text-white text-center rounded-top-4">
                    <h3 class="mb-0 fw-bold">Register</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger mb-3"></div>
                        <div class="mb-3">
                            <label asp-for="Usrername" class="form-label"></label>
                            <input asp-for="Usrername" class="form-control" />
                            <span asp-validation-for="Usrername" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Address" class="form-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success w-100 py-2 fw-bold">Register</button>
                    </form>
                </div>
                <div class="card-footer text-center rounded-bottom-4">
                    <a asp-action="Login">Already have an account? <span class="fw-bold">Login</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}