@model BookFormViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data" class="row g-3">
            <input type="hidden" asp-for="Book.Id" />
            <partial name="BooksForm" />
            @if (!string.IsNullOrEmpty(Model.Book.ImagePath))
            {
                <div class="form-group">
                    <label>Current Image File Name:</label>
                    <input class="form-control" value="@System.IO.Path.GetFileName(Model.Book.ImagePath)" readonly />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

